# Population Flow

Let's take a look at the flow between states in hopes of learning which states' data to aggregate in our final model.

## Setup

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn import preprocessing

In [2]:
data = pd.read_csv('../data/graph.csv')
data.head()

,source_state,target_state,04-12-2020,04-13-2020,04-14-2020,04-15-2020,04-16-2020,04-17-2020,04-18-2020,04-19-2020,...,08-22-2020,08-23-2020,08-24-2020,08-25-2020,08-26-2020,08-27-2020,08-28-2020,08-29-2020,08-30-2020,08-31-2020
0,Alabama,Alabama,616434.0,784114.0,756555.0,786938.0,792072.0,846587.0,783567.0,619458.0,...,988618.0,873985.0,950066.0,952730.0,961319.0,994395.0,993710.0,951297.0,826922.0,991456.0
1,Alabama,Alaska,16.0,8.0,13.0,12.0,9.0,10.0,10.0,11.0,...,54.0,48.0,30.0,44.0,37.0,50.0,42.0,44.0,45.0,50.0
2,Alabama,Arizona,158.0,176.0,148.0,158.0,140.0,176.0,170.0,155.0,...,236.0,230.0,220.0,211.0,226.0,220.0,216.0,212.0,179.0,213.0
3,Alabama,Arkansas,298.0,399.0,370.0,401.0,649.0,683.0,650.0,412.0,...,772.0,647.0,622.0,738.0,683.0,660.0,686.0,751.0,698.0,585.0
4,Alabama,California,358.0,421.0,421.0,369.0,341.0,380.0,330.0,367.0,...,609.0,564.0,572.0,569.0,592.0,610.0,573.0,697.0,638.0,638.0

In [3]:
data.isna().sum()

source_state    0
target_state    0
04-12-2020      0
04-13-2020      0
04-14-2020      0
               ..
08-27-2020      0
08-28-2020      0
08-29-2020      0
08-30-2020      0
08-31-2020      0
Length: 144, dtype: int64

Nice, no interpolation is needed.

In [4]:
data.describe()

,04-12-2020,04-13-2020,04-14-2020,04-15-2020,04-16-2020,04-17-2020,04-18-2020,04-19-2020,04-20-2020,04-21-2020,...,08-22-2020,08-23-2020,08-24-2020,08-25-2020,08-26-2020,08-27-2020,08-28-2020,08-29-2020,08-30-2020,08-31-2020
count,2.500000e+03,2.500000e+03,2.500000e+03,2.500000e+03,2.500000e+03,2.500000e+03,2.500000e+03,2.500000e+03,2.500000e+03,2.500000e+03,...,2.500000e+03,2.500000e+03,2.500000e+03,2.500000e+03,2.500000e+03,2.500000e+03,2.500000e+03,2.500000e+03,2.500000e+03,2.500000e+03
mean,1.031167e+04,1.170723e+04,1.151140e+04,1.178438e+04,1.179731e+04,1.230519e+04,1.163154e+04,1.057303e+04,1.205244e+04,1.279990e+04,...,1.619850e+04,1.453065e+04,1.511724e+04,1.529283e+04,1.535136e+04,1.538828e+04,1.577180e+04,1.530974e+04,1.397103e+04,1.609596e+04
std,1.034501e+05,1.168826e+05,1.139024e+05,1.167934e+05,1.169899e+05,1.218210e+05,1.149333e+05,1.045124e+05,1.190462e+05,1.268384e+05,...,1.551829e+05,1.396637e+05,1.461652e+05,1.485194e+05,1.481988e+05,1.482535e+05,1.517399e+05,1.477725e+05,1.343104e+05,1.552867e+05
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.100000e+01,2.400000e+01,2.475000e+01,2.400000e+01,2.400000e+01,2.500000e+01,2.400000e+01,2.300000e+01,2.700000e+01,2.900000e+01,...,6.400000e+01,5.700000e+01,5.700000e+01,5.800000e+01,5.700000e+01,5.800000e+01,5.900000e+01,5.800000e+01,5.500000e+01,6.100000e+01
50%,7.150000e+01,8.100000e+01,7.950000e+01,8.300000e+01,8.300000e+01,8.500000e+01,7.900000e+01,7.600000e+01,8.700000e+01,9.900000e+01,...,1.990000e+02,1.770000e+02,1.710000e+02,1.680000e+02,1.705000e+02,1.740000e+02,1.780000e+02,1.810000e+02,1.675000e+02,1.820000e+02
75%,2.510000e+02,2.880000e+02,3.025000e+02,3.050000e+02,3.070000e+02,3.112500e+02,2.970000e+02,2.682500e+02,3.102500e+02,3.510000e+02,...,7.862500e+02,6.722500e+02,6.105000e+02,6.035000e+02,6.112500e+02,6.350000e+02,6.690000e+02,6.960000e+02,6.232500e+02,6.520000e+02
max,2.865996e+06,3.208712e+06,3.080286e+06,3.198044e+06,3.216221e+06,3.350439e+06,3.152302e+06,2.825683e+06,3.248109e+06,3.475880e+06,...,4.268882e+06,3.792737e+06,3.951518e+06,4.058344e+06,3.963659e+06,3.934572e+06,4.108671e+06,4.061164e+06,3.611719e+06,4.156280e+06

Aight, now let's make some helper functions to extract a state's data as a time series.

In [5]:
# Given a single data record, returns the total flow as a time series. 
def extract_timeseries(point):
    ts = pd.Series(point[2:])
    ts.index = pd.to_datetime(point.index[2:])
    return ts

# Graph Construction

Let's construct a dense adjacency matrix.

In [6]:
states = np.unique(data['source_state'])

# Adjacency Matrix is a 50x50 array. 
# adjacency[s, t] = # people going from source state s to target state t
# s and t are state "numbers"; ie. the index of the state in "states"
adj = np.zeros((len(states), len(states)))

for s, source_state in enumerate(states): 
    src_data = data.loc[data['source_state'] == source_state]
    for t, target_state in enumerate(states): 
        entry = src_data.loc[src_data['target_state'] == target_state].iloc[0]     
        adj[s, t] = np.sum(extract_timeseries(entry))

assert adj[0, 0] == extract_timeseries(data.iloc[0]).sum()

In [7]:
print(adj)

[[1.34305209e+08 6.18500000e+03 3.53990000e+04 ... 1.88160000e+04
  3.40060000e+04 1.83540000e+04]
 [4.78500000e+03 6.76601400e+06 1.35080000e+04 ... 5.62000000e+02
  3.53800000e+03 1.70900000e+03]
 [2.79350000e+04 2.57200000e+04 9.33214980e+07 ... 6.82600000e+03
  1.12522000e+05 5.66850000e+04]
 ...
 [1.79120000e+04 9.68000000e+02 6.54700000e+03 ... 2.63978590e+07
  1.42340000e+04 3.92500000e+03]
 [3.10290000e+04 6.53000000e+03 5.78300000e+04 ... 1.35210000e+04
  9.02275640e+07 2.86220000e+04]
 [3.86800000e+03 2.68100000e+03 1.94000000e+04 ... 1.68400000e+03
  5.77500000e+03 7.32258200e+06]]

For simplification purposes, we'll make our graph undirected. 
We assume that the total population of states is relatively constant over time; ie. that all people who enter a state must eventually leave to their home state. 
With this assumption, "total connection" between states will be defined as the sum of all traffic between two states.

In [8]:
# If they change the number of states, our code will still work ;)
for i in range(len(states)): 
    for j in range(len(states)):
        tot = adj[i, j] + adj[j, i]
        adj[i, j] = tot
        adj[j, i] = tot

Now, we trim our adjacency matrix to only those entries above a certain threshold $\epsilon$. 

More complex functions can be done as needed (eg. as a percentage of state population). Perhaps we could even do a GMM style soft correlation matrix?

In [53]:
Îµ = 5e6

# connected components; 1 if connection, 0 if not. 
conn = np.zeros((len(states), len(states)))
conn[adj > Îµ] = 1
conn[adj <= Îµ] = 0

print(conn)

[[1. 0. 0. ... 0. 0. 0.]
 [0. 1. 0. ... 0. 0. 0.]
 [0. 0. 1. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 1. 0. 0.]
 [0. 0. 0. ... 0. 1. 0.]
 [0. 0. 0. ... 0. 0. 1.]]

Looks good so far.

## Clustering States

In [10]:
import scipy.sparse as sparse
import scipy.sparse.csgraph as csgraph

In [11]:
n, clusters = csgraph.connected_components(
    csgraph=sparse.csr_matrix(conn), 
    directed=False, 
    return_labels=True)

In [12]:
print(n)
print(clusters)

27
[ 0  1  2  3  2  4  5  6  0  0  7  8  9  9 10  9 11 12 13  0 14 11  9  0
  9 15 16  2 17  0 18  0  0 19 11 12 20  0 21  0 22  0 12 23 24  0 20 25
  9 26]

In [13]:
for label in np.unique(clusters): 
    print(f'Cluster {label}:')
    for ind, val in enumerate(clusters): 
        if val == label: 
            print(f'\t{states[ind]}')
    print()

Cluster 0:
	Alabama
	Florida
	Georgia
	Maryland
	Mississippi
	New Jersey
	New York
	North Carolina
	Pennsylvania
	South Carolina
	Tennessee
	Virginia

Cluster 1:
	Alaska

Cluster 2:
	Arizona
	California
	Nevada

Cluster 3:
	Arkansas

Cluster 4:
	Colorado

Cluster 5:
	Connecticut

Cluster 6:
	Delaware

Cluster 7:
	Hawaii

Cluster 8:
	Idaho

Cluster 9:
	Illinois
	Indiana
	Kansas
	Minnesota
	Missouri
	Wisconsin

Cluster 10:
	Iowa

Cluster 11:
	Kentucky
	Michigan
	Ohio

Cluster 12:
	Louisiana
	Oklahoma
	Texas

Cluster 13:
	Maine

Cluster 14:
	Massachusetts

Cluster 15:
	Montana

Cluster 16:
	Nebraska

Cluster 17:
	New Hampshire

Cluster 18:
	New Mexico

Cluster 19:
	North Dakota

Cluster 20:
	Oregon
	Washington

Cluster 21:
	Rhode Island

Cluster 22:
	South Dakota

Cluster 23:
	Utah

Cluster 24:
	Vermont

Cluster 25:
	West Virginia

Cluster 26:
	Wyoming

By tweaking the value of $\epsilon$, we can get anywhere from 6 to 40 clusters. 
Nice.

## Evaluating Clustering Results

If our clustering is accurate, we should be getting correlations between the deaths in these states. Let's verify this with a covariance matrix.

In [14]:
train = pd.read_csv("../data/train.csv")
train.head()

,ID,Province_State,Date,Confirmed,Deaths,Recovered,Active,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,Testing_Rate,Hospitalization_Rate
0,0,Alabama,04-12-2020,3563,93,NaN,3470.0,75.988020,21583.0,437.0,2.610160,460.300152,12.264945
1,1,Alaska,04-12-2020,272,8,66.0,264.0,45.504049,8038.0,31.0,2.941176,1344.711576,11.397059
2,2,Arizona,04-12-2020,3542,115,NaN,3427.0,48.662422,42109.0,NaN,3.246753,578.522286,NaN
3,3,Arkansas,04-12-2020,1280,27,367.0,1253.0,49.439423,19722.0,130.0,2.109375,761.753354,10.156250
4,4,California,04-12-2020,22795,640,NaN,22155.0,58.137726,190328.0,5234.0,2.812020,485.423869,22.961176

In [50]:
deaths = []
for i, state in enumerate(states): 
    state_deaths = train.loc[train['Province_State'] == state]['Deaths']
    deaths.append(state_deaths)
    
print(deaths)

[0         93
50        99
100      114
150      118
200      133
        ...
6850    2076
6900    2107
6950    2152
7000    2162
7050    2182
Name: Deaths, Length: 142, dtype: int64, 1        8
51       8
101      9
151      9
201      9
        ..
6851    37
6901    37
6951    37
7001    37
7051    37
Name: Deaths, Length: 142, dtype: int64, 2        115
52       122
102      131
152      142
202      150
        ...
6852    4929
6902    4978
6952    5007
7002    5030
7052    5029
Name: Deaths, Length: 142, dtype: int64, 3        27
53       29
103      32
153      33
203      37
       ...
6853    739
6903    756
6953    772
7003    784
7053    797
Name: Deaths, Length: 142, dtype: int64, 4         640
54        714
104       767
154       860
204       956
        ...
6854    12677
6904    12805
6954    12894
7004    12937
7054    13022
Name: Deaths, Length: 142, dtype: int64, 5        289
55       306
105      327
155      328
205      355
        ...
6855    1931
6905    1937
6955    1942
7005    1942
7055    1945
Name: Deaths, Length: 142, dtype: int64, 6        554
56       602
106      671
156      868
206      971
        ...
6856    4465
6906    4465
6956    4465
7006    4465
7056    4465
Name: Deaths, Length: 142, dtype: int64, 7        35
57       41
107      43
157      46
207      55
       ...
6857    604
6907    604
6957    604
7007    604
7057    605
Name: Deaths, Length: 142, dtype: int64, 8         461
58        499
108       571
158       596
208       668
        ...
6858    10868
6908    10957
6958    11105
7008    11119
7058    11187
Name: Deaths, Length: 142, dtype: int64, 9        433
59       465
109      525
159      552
209      587
        ...
6859    5393
6909    5471
6959    5576
7009    5604
7059    5633
Name: Deaths, Length: 142, dtype: int64, 10       9
60       9
110      9
160      9
210      9
        ..
6860    55
6910    59
6960    62
7010    63
7060    70
Name: Deaths, Length: 142, dtype: int64, 11       27
61       27
111      33
161      39
211      41
       ...
6861    343
6911    353
6961    358
7011    359
7061    361
Name: Deaths, Length: 142, dtype: int64, 12       720
62       798
112      868
162      949
212     1072
        ...
6862    8186
6912    8206
6962    8217
7012    8228
7062    8235
Name: Deaths, Length: 142, dtype: int64, 13       343
63       350
113      387
163      436
213      477
        ...
6863    3266
6913    3277
6963    3285
7013    3291
7063    3296
Name: Deaths, Length: 142, dtype: int64, 14        41
64        41
114       49
164       53
214       60
        ...
6864    1091
6914    1108
6964    1100
7014    1113
7064    1120
Name: Deaths, Length: 142, dtype: int64, 15       56
65       62
115      69
165      71
215      80
       ...
6865    444
6915    445
6965    449
7015    449
7065    451
Name: Deaths, Length: 142, dtype: int64, 16       97
66      113
116     106
166     115
216     129
       ...
6866    910
6916    918
6966    921
7016    929
7066    933
Name: Deaths, Length: 142, dtype: int64, 17       840
67       884
117     1013
167     1103
217     1156
        ...
6867    4874
6917    4904
6967    4904
7017    4931
7067    4950
Name: Deaths, Length: 142, dtype: int64, 18       19
68       19
118      20
168      24
218      27
       ...
6868    132
6918    132
6968    132
7018    132
7068    132
Name: Deaths, Length: 142, dtype: int64, 19       236
69       262
119      302
169      311
219      319
        ...
6869    3722
6919    3727
6969    3746
7019    3752
7069    3755
Name: Deaths, Length: 142, dtype: int64, 20       756
70       844
120      844
170     1108
220     1108
        ...
6870    9008
6920    9024
6970    9036
7020    9049
7070    9060
Name: Deaths, Length: 142, dtype: int64, 21      1479
71      1602
121     1768
171     1921
221     1996
        ...
6871    6706
6921    6712
6971    6712
7021    6748
7071    6753
Name: Deaths, Length: 142, dtype: int64, 22        70
72        70
122       79
172       87
222       87
        ...
6872    1855
6922    1859
6972    1863
7022    1865
7072    1866
Name: Deaths, Length: 142, dtype: int64, 23        96
73        98
123      111
173      122
223      129
        ...
6873    2399
6923    2413
6973    2427
7023    2441
7073    2473
Name: Deaths, Length: 142, dtype: int64, 24       118
74       123
124      149
174      153
224      169
        ...
6874    1488
6924    1500
6974    1528
7024    1533
7074    1547
Name: Deaths, Length: 142, dtype: int64, 25        6
75        7
125       7
175       7
225       7
       ...
6875     98
6925    100
6975    104
7025    104
7075    104
Name: Deaths, Length: 142, dtype: int64, 26       17
76       17
126      20
176      20
226      21
       ...
6876    391
6926    392
6976    392
7026    392
7076    397
Name: Deaths, Length: 142, dtype: int64, 27       112
77       114
127      126
177      131
227      137
        ...
6877    1271
6927    1287
6977    1302
7027    1302
7077    1305
Name: Deaths, Length: 142, dtype: int64, 28       23
78       23
128      25
178      32
228      32
       ...
6878    431
6928    432
6978    432
7028    432
7078    432
Name: Deaths, Length: 142, dtype: int64, 29       2350
79       2443
129      2805
179      3156
229      3518
        ...
6879    15921
6929    15930
6979    15933
7029    15937
7079    15945
Name: Deaths, Length: 142, dtype: int64, 30       26
80       26
130      31
180      36
230      36
       ...
6880    764
6930    767
6980    769
7030    770
7080    779
Name: Deaths, Length: 142, dtype: int64, 31       9385
81      10058
131     10842
181     11617
231     14832
        ...
6881    32926
6931    32934
6981    32938
7031    32951
7081    32957
Name: Deaths, Length: 142, dtype: int64, 32        89
82        94
132      112
182      130
232      150
        ...
6882    2630
6932    2652
6982    2683
7032    2692
7082    2702
Name: Deaths, Length: 142, dtype: int64, 33        7
83        8
133       8
183       9
233       9
       ...
6883    139
6933    139
6983    141
7033    142
7083    143
Name: Deaths, Length: 142, dtype: int64, 34       253
84       274
134      324
184      362
234      407
        ...
6884    4076
6934    4105
6984    4252
7034    4129
7084    4139
Name: Deaths, Length: 142, dtype: int64, 35       96
85       99
135     108
185     123
235     131
       ...
6885    778
6935    786
6985    797
7035    799
7085    800
Name: Deaths, Length: 142, dtype: int64, 36       52
86       53
136      55
186      58
236      64
       ...
6886    438
6936    447
6986    454
7036    458
7086    459
Name: Deaths, Length: 142, dtype: int64, 37       557
87       589
137      691
187      779
237      841
        ...
6887    7622
6937    7642
6987    7656
7037    7658
7087    7659
Name: Deaths, Length: 142, dtype: int64, 38        63
88        63
138       80
188       80
238       87
        ...
6888    1044
6938    1046
6988    1046
7038    1046
7088    1048
Name: Deaths, Length: 142, dtype: int64, 39        82
89        82
139       97
189      106
239      111
        ...
6889    2628
6939    2655
6989    2698
7039    2709
7089    2720
Name: Deaths, Length: 142, dtype: int64, 40        6
90        6
140       6
190       6
240       7
       ...
6890    162
6940    165
6990    167
7040    167
7090    167
Name: Deaths, Length: 142, dtype: int64, 41       106
91       109
141      124
191      124
241      136
        ...
6891    1673
6941    1701
6991    1725
7041    1747
7091    1754
Name: Deaths, Length: 142, dtype: int64, 42        283
92        305
142       342
192       375
242       414
        ...
6892    12365
6942    12537
6992    12607
7042    12683
7092    12779
Name: Deaths, Length: 142, dtype: int64, 43       18
93       13
143      18
193      20
243      20
       ...
6893    403
6943    407
6993    407
7043    407
7093    407
Name: Deaths, Length: 142, dtype: int64, 44      27
94      28
144     29
194     29
244     33
        ..
6894    58
6944    58
6994    58
7044    58
7094    58
Name: Deaths, Length: 142, dtype: int64, 45       141
95       149
145      154
195      195
245      208
        ...
6895    2527
6945    2550
6995    2568
7045    2569
7095    2580
Name: Deaths, Length: 142, dtype: int64, 46       506
96       513
146      530
196      552
246      579
        ...
6896    1890
6946    1905
6996    1905
7046    1905
7096    1915
Name: Deaths, Length: 142, dtype: int64, 47        6
97        8
147       9
197      10
247      12
       ...
6897    198
6947    201
6997    215
7047    214
7097    215
Name: Deaths, Length: 142, dtype: int64, 48       144
98       154
148      170
198      183
248      197
        ...
6898    1111
6948    1113
6998    1119
7048    1122
7098    1122
Name: Deaths, Length: 142, dtype: int64, 49       0
99       1
149      1
199      1
249      2
        ..
6899    37
6949    37
6999    37
7049    37
7099    37
Name: Deaths, Length: 142, dtype: int64]

In [51]:
cov = np.cov(deaths)

In [52]:
print(cov)

[[3.71758174e+05 4.73740805e+03 9.53834757e+05 ... 2.68674527e+04
  1.61807596e+05 5.83210069e+03]
 [4.73740805e+03 6.55976925e+01 1.24499029e+04 ... 3.48119019e+02
  1.93650744e+03 7.21797023e+01]
 [9.53834757e+05 1.24499029e+04 2.48224822e+06 ... 6.78657748e+04
  4.02396636e+05 1.46519950e+04]
 ...
 [2.68674527e+04 3.48119019e+02 6.78657748e+04 ... 2.11316417e+03
  1.19248834e+04 4.36684947e+02]
 [1.61807596e+05 1.93650744e+03 4.02396636e+05 ... 1.19248834e+04
  7.57247312e+04 2.66501898e+03]
 [5.83210069e+03 7.21797023e+01 1.46519950e+04 ... 4.36684947e+02
  2.66501898e+03 9.69609430e+01]]